[Desktop Entry]
Name=ROX-Filer
Comment=File manager
Comment[pl]=Menadżer plików
Exec=rox
Icon=rox.png
Terminal=0
Type=Application
# vi: encoding=utf-8
