[Desktop Entry]
Name=ROX-Filer
Comment=File manager
Comment[pl]=Zarządca plików
Exec=rox
Icon=rox.png
Terminal=false
Type=Application
Categories=GTK;Utility;FileManager;
Encoding=UTF-8
# vi: encoding=utf-8
